.slider {
    width: 80%;
    max-height: 400px;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.slider-img {
    margin-left: -14%;
    max-width: 800px;
    height: 300px;
    object-fit: cover;
}
