.filter {
  display: flex;
  width: 1200px;
  border-color: #35C0ED;
  padding: 15px 15px;

  &__sort { //                                             сортировка
    max-width: 200px;
    margin: 0 auto 20px 0;
  }

  &__search { //                                             поиск
    margin: 15px 15px 20px auto;
  }
}
