@import "vars";
@import "mixins";

.profile {

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px 0 0 24px;
  }

  &__link {
    border: none;
    background-color: transparent;

    @include mobile {
      display: none;
    }
  }
}
