@import "vars";
@import "mixins";

.tables { //                                                 столы
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 15px 15px;


  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    //padding: 30px 30px;
  }

  &__desc {
    width: 240px;
    min-height: 60px;
    padding: 6px 10px 6px 18px;
  }
}
