@import "vars";
@import "mixins";

.top { //                                                   Main

  &__inner {

  }

  &__slider {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;
  }

  &__slider-img {
    position: absolute;
    width: 1170px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }


  //В проекте:

  //&__slider-info {
  //  max-width: 645px;
  //  margin-left: 25px;
  //}

  //&__slider-title {
  //  color: $title;
  //  font-size: 110px;
  //  line-height: 135px;
  //  padding-bottom: 26px;
  //  position: relative;
  //  @extend %title-font;
  //
  //  &::after {
  //    content: '';
  //    position: absolute;
  //    left: 0;
  //    width: 185px;
  //    height: 1px;
  //    background: #6d7278;
  //    bottom: 0;
  //  }
  //}
  //
  //&__slider-text {
  //  max-width: 585px;
  //}
}
