$title: rgba(54, 56, 56, 0.9);
$default: #5A5A5A;
$black-bkg: #222222;
$black: #000000;
$block1: #e0d4d4;
$block2: #faf8f9;
$white-bkg: #ffffff;
$light-pink: #F1E4E6;
$gray: #D8D8D8;
$light-gray: #9F9F9F;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$lightblue: #ADD8E6;
$green: #2db300;

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;

$slide-width: 42%;
$slide-separation: 40px;
$distance: 1000px;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

%title-font-ml {
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 400;
}

%title-font-js4i {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%title-font-js {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

%title-font-js7 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
