@import 'vars';
@import 'mixins';
@import 'effects';
@import 'reset';
@import 'fonts';
@import 'libs';
@import 'global';
@import "breadcrumbs";
@import "cart";
@import "catalog";
@import "footer";
@import "gallery";
@import 'header';
@import "leftside";
@import "login";
@import "media";
@import "menu";
@import 'products';
@import 'reg';
@import 'tables';
@import "top";


.line { //                                                   линии колонтитулов
  border: none;
  color: #ADD8E6;
  background-color: #ADD8E6;
  height: 1px;
}

.profile {

  &__list {
    display: flex;
  }

  &__item {
    margin: 7px 0 0 24px;
  }

  &__link {
    border: none;
    background-color: transparent;

    @include mobile {
      display: none;
    }
  }
}

.alert-enter {
  opacity: 0;
  transform: translateX(-2);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(2);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: translateX(-2);
  transition: opacity 300ms, transform 300ms;
}

.wrapper-products {
  position: relative;
}

.card {
  align-items: center;
}

.map { //                                             карта
  position: relative;
  padding: 50px 15px;

  iframe {
    height: 578px;
  }
}

.filter {
  display: flex;
  width: 1200px;
  border-color: #35C0ED;

  &__sort { //                                             сортировка
    max-width: 200px;
    margin: 0 auto 20px 0;
  }

  &__search { //                                             поиск
    margin: 15px 15px 20px auto;
  }
}



