@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.line { //                                                   линии колонтитулов
  border: none;
  color: #ADD8E6;
  background-color: #ADD8E6;
  height: 1px;
}

.header { //                                                    верхний колонтитул

  &__inner {
    display: flex;
    align-items: center; // вертикальное выравнивание
    height: 90px;
    padding: 0 15px;
  }

  .logo img {
    object-fit: cover;
    height: 35px;
  }

  &__btn-menu {
    display: flex;
    padding-left: 30px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  &__btn-menu-item {
    display: flex;
  }

  &__btn-menu-point {
    background-color: #000000;
    display: block;
    width: 2px;
    height: 2px;
    border-right: 4px;
    margin: 6px 0;
  }

  &__btn-menu-line {
    background-color: #000000;
    display: block;
    width: 25px;
    height: 2px;
    border-right: 4px;
    margin: 6px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item {
    padding-left: 25px;
    padding-right: 5px;
  }

  &__list-link {
    @extend %title-font-js;
    color: $title;
    line-height: 22px;
  }
}

.profile {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  width: 100px;
  @extend %title-font-js;
  color: $title;
  line-height: 22px;

  &__img {
    padding-right: 10px;
  }

  &__img img {
    object-fit: cover;
    height: 30px;
  }
}

.login { //                                     окно регистрации
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 15;
  width: 100%;
  height: 350px;
  max-width: 300px;
  background-color: white;
  padding-top: 40px;
  box-shadow: -2px 3px 17px #000;
  transition: all .5s;

  &__block {
    position: center;
  }

  &__close {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    border: none;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;

    &:active {

    }
  }

  &__list {
    display: block;
    margin-left: 50px;
    margin-top: 80px;
  }

  &__list-item {
    @extend %title-font-js;
    color: $title;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}

.cart { //                                                     корзина
  display: flex;
  padding: 0;
  align-items: center;

  &__link {
    @extend %title-font-js ;
    color: $title;
    line-height: 22px;
  }

  &__img {
    padding-right: 15px;
  }

  &__img img {
    object-fit: cover;
    height: 25px;
  }
}

.leftside-menu { //                                      левое меню списка каталога
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  z-index: 15;
  width: 100%;
  height: 500px;
  max-width: 280px;
  background-color: white;
  padding-top: 40px;
  box-shadow: -2px 3px 17px #000;
  transition: all .5s;

  &__block {
    position: center;
  }

  &__close {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    border: none;
    right: 0;
    margin-right: 40px;
    margin-bottom: 40px;

  }

  &__list {
    display: block;
    margin-left: 30px;
    margin-top: 100px;
  }

  &__list-link {
    position: relative;
    display: flex;
    align-items: center;
    @extend %title-font-js;
    width: 220px;
    color: $title;
    font-size: 16px;
    line-height: 40px;
    padding-left: 10px;
    border: 1px solid white;
    border-radius: 4px;

    &:hover {
      background: #DCDCDC;
    }

    //&::after {
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  bottom: 0;
    //  height: 1px;
    //  width: 120px;
    //  background: #6d7278;
    //}
  }

  &__img {
    padding-right: 10px;
  }

  &__img img {
    object-fit: cover;
    height: 25px;
  }
}

.alert-enter {
  opacity: 0;
  transform: translateX(-2);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(2);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: translateX(-2);
  transition: opacity 300ms, transform 300ms;
}


.breadcrumbs { //                                              хлебные прошки

  position: relative;
  z-index: 10;
  margin-left: 0;
  background-color: white;

  &__inner {
    padding: 10px 15px;
  }

  &__links {
    display: flex;
    overflow-x: auto;
  }

  &__item {
    position: relative;
    padding-right: 8px;
    @extend %title-font-js;
    font-size: 15px;
    color: $default;
  }

  &__item::after {
    content: '/';
    position: absolute;
  }

  &__item:last-child::after {
    display: none;
  }

  &__link {

  }
}

.footer { //                                                         нижний колонтитул
  background-color: white;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px;
    @extend %title-font-js;
    padding: 0 15px;
  }

  &__info {
    width: 500px;
  }

  &__info-title {
    color: $title;
    @extend %title-font-js7;
    color: $title;
    font-size: 32px;
  }

  &__info-text {
    margin-bottom: 16px;
    @extend %title-font-js7;
    color: $title;
    font-size: 13.7px;
    margin-left: 1px;
  }

  &__info-number {
    @extend %title-font-js;
    font-size: 16px;
    color: $title;
    margin-left: 1px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    background-color: transparent;
    border: 1px solid #rgba ($title, 0.7);
    width: 100%;

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #A1A1A1;
    }
  }

  &__form-button {
    padding: 6px 12px;
    margin-left: 8px;
    border-radius: 21px;
    background-color: $title;
    border: none;
    color: #FFFFF0;
    min-width: 160px;
    cursor: pointer;
  }

  &__social {
    width: 125px;
    margin-right: 100px;
    margin-left: auto;
    display: block;
  }

  &__social-link {
    display: flex;
    margin-left: 10px;
    margin-bottom: 9px;
    color: $title;
  }

  &__social-link--instagram img {
    width: 16px;
    height: 16px;
    margin: 6px 10px 0 0;
  }

  &__social-link--youtobe img {
    width: 18px;
    height: 18px;
    margin: 4px 10px 0 0;
  }

  &__social-link--vkontakte img {
    width: 19px;
    height: 19px;
    margin: 4px 10px 0 0;
  }

  &__social-link--whatsapp img {
    width: 16px;
    height: 16px;
    margin: 5px 10px 0 0;
  }

  &__social-link--viber img {
    width: 16px;
    height: 16px;
    margin: 6px 10px 0 0;
  }
}

.top { //                                                   Main
  &__inner {
    padding: 15px;
    text-align: center;
    max-height: 500px;
    position: relative;
  }

  &__slider {
    align-items: center;
    display: inline-block;
    justify-content: space-between;
  }

  &__slider-img {
    align-items: center;
  }


  //В проекте:

  //&__slider-info {
  //  max-width: 645px;
  //  margin-left: 25px;
  //}

  //&__slider-title {
  //  color: $title;
  //  font-size: 110px;
  //  line-height: 135px;
  //  padding-bottom: 26px;
  //  position: relative;
  //  @extend %title-font;
  //
  //  &::after {
  //    content: '';
  //    position: absolute;
  //    left: 0;
  //    width: 185px;
  //    height: 1px;
  //    background: #6d7278;
  //    bottom: 0;
  //  }
  //}
  //
  //&__slider-text {
  //  max-width: 585px;
  //}
}

.new-products {
  text-align: center;

  &__title {
    @extend %title-font-js7;
    color: $title;
    font-size: 28px;
    line-height: 35px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
  }
}

.wrapper-products {
  position: relative;
}

.products {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 360px;
  align-items: center;
  display: inline-block;
  justify-content: space-between;

  &__slider-item {
    padding: 15px;
  }

  &__button {
    align-items: center;
  }

  &__prev-arrow {
    position: absolute;
    top: 155px;
    z-index: 12;
    left: 20px;
    cursor: pointer;

    &:hover {
      top: 150px;
    }

    &:active {
      top: 155px;
    }
  }

  &__prev-arrow img {
    width: 48px;
    height: 48px;

    &:hover {
      width: 60px;
      height: 60px;
    }

    &:active {
      width: 48px;
      height: 48px;
    }
  }

  &__next-arrow {
    position: absolute;
    top: 155px;
    z-index: 12;
    right: 20px;
    cursor: pointer;

    &:hover {
      top: 150px;
    }

    &:active {
      top: 155px;
    }
  }

  &__next-arrow img {
    transform: scaleX(-1);
    width: 48px;
    height: 48px;

    &:hover {
      width: 60px;
      height: 60px;
    }

    &:active {
      width: 48px;
      height: 48px;
    }
  }
}

.catalog { //                                                   каталог продукции

  &__item img {
    width: 580px;
    height: 280px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 35px;
    padding: 15px 15px;
  }

  &__item {
    position: relative;
  }

  &__nav {
    position: absolute;
    display: grid;
    z-index: 12;
    left: 40px;
    bottom: 25px;
  }

  &__nav-text {
    @extend %title-font-js7;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 5px;
    background: none;
    border: none;

    &:hover {
      color: red;
    }
  }

  &__instock-text {
    @extend %title-font-js4i;
    font-size: 15px;
    color: #E0FFFF;
    text-align: left;
    padding-left: 5px;
    background: none;
    border: none;

    &:hover {
      color: #ADD8E6;
    }
  }
}

.tables { //                                                 столы
  position: relative;
  padding: 15px 15px;

  &__item img {
    width: 240px;
    height: 240px;
    padding: 6px 10px 6px 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 35px;
    padding: 30px 30px;
  }

  &__desc {
    width: 240px;
    min-height: 60px;
    padding: 6px 10px 6px 18px;
  }
  &__instock {
    @extend %title-font-ml;
    border: none;
    background-color: #C0C0C0;
    color: #228B22;
    width: 100%;
    height: 30px;
  }
}

.card {
  align-items: center;
}

.gallery {
  padding: 40px 0 40px;

  &__buttons {
    text-align: center;
    margin-bottom: 40px;
  }

  &__btn {
    margin: 0 13px;
    background-color: transparent;
    border: 1px solid #454647;
    border-radius: 20px;
    padding: 6px 16px;
    color: #8f8d8d;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

  }

  &__btn-active {
    margin: 0 13px;
    border-radius: 20px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: #ffef35;
    border: 1px solid #ffef35;
    color: $title;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 35px;
  }

  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  &__item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1150px;
  }

  &.gallery-page {
    .gallery__item img {
      max-height: 1170px;
    }

    .gallery__item:nth-child(8) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.map { //                                             карта
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;

  iframe {
    height: 578px;
  }
}

.filter {
  display: flex;
  width: 1200px;
  border-color: #35C0ED;

  &__sort { //                                             сортировка
    max-width: 200px;
    margin: 0 auto 20px 0;
  }

  &__search { //                                             поиск
    margin: 15px 15px 20px auto;
  }
}

.chat {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 2em;
  grid-gap: .5em;
  padding: 15px;
  height: 600px;

  &__box {
    margin: 15px;
  }

  &__message {
    height: 360px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid peachpuff;
    border-radius: 5px;
  }

}

